In [0]:
# Mounting the Drive So as to share the Data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
# Importing the Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re

In [0]:
# Importing the Data
# Make Sure the Content of the First Column of the CSV to be used as Index. The Targets must not have a Header

loan_data_inputs_train = pd.read_csv("/content/drive/My Drive/Credit Risk Modelling/loan_data_inputs_train.csv", index_col=0, low_memory=False)
loan_data_inputs_test = pd.read_csv("/content/drive/My Drive/Credit Risk Modelling/loan_data_inputs_test.csv", index_col=0, header=None, low_memory=False)
loan_data_targets_train = pd.read_csv("/content/drive/My Drive/Credit Risk Modelling/loan_data_targets_train.csv", index_col=0, low_memory=False)
loan_data_targets_test = pd.read_csv("/content/drive/My Drive/Credit Risk Modelling/loan_data_targets_test.csv", index_col=0, header=None, low_memory=False)

In [0]:
# Explore Data

loan_data_inputs_train = loan_data_inputs_train.iloc[1:,:]
loan_data_inputs_test = loan_data_inputs_test.iloc[1:,:]

In [0]:
loan_data_inputs_train.head()

        Unnamed: 0.1  ...  mths_since_last_record:>86
206088        206088  ...                           0
136020        136020  ...                           0
412305        412305  ...                           0
36159          36159  ...                           0
260400        260400  ...                           0

[5 rows x 324 columns]

In [0]:
loan_data_targets_train.head()

        1
427211
206088  1
136020  1
412305  0
36159   0
260400  1

In [0]:
# Get the Shape of All

loan_data_inputs_train.shape, loan_data_targets_train.shape, loan_data_inputs_test.shape, loan_data_targets_test.shape

((373027, 324), (373027, 1), (93257, 324), (93257, 1))

In [0]:
allcol = ['grade:A',
'grade:B',
'grade:C',
'grade:D',
'grade:E',
'grade:F',
'grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'home_ownership:OWN',
'home_ownership:MORTGAGE',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'addr_state:NM_VA',
'addr_state:NY',
'addr_state:OK_TN_MO_LA_MD_NC',
'addr_state:CA',
'addr_state:UT_KY_AZ_NJ',
'addr_state:AR_MI_PA_OH_MN',
'addr_state:RI_MA_DE_SD_IN',
'addr_state:GA_WA_OR',
'addr_state:WI_MT',
'addr_state:TX',
'addr_state:IL_CT',
'addr_state:KS_SC_CO_VT_AK_MS',
'addr_state:WV_NH_WY_DC_ME_ID',
'verification_status:Not Verified',
'verification_status:Source Verified',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'purpose:credit_card',
'purpose:debt_consolidation',
'purpose:oth__med__vacation',
'purpose:major_purch__car__home_impr',
'initial_list_status:f',
'initial_list_status:w',
'term:36',
'term:60',
'emp_length:0',
'emp_length:1',
'emp_length:2-4',
'emp_length:5-6',
'emp_length:7-9',
'emp_length:10',
'mths_since_issue_d:<38',
'mths_since_issue_d:38-39',
'mths_since_issue_d:40-41',
'mths_since_issue_d:42-48',
'mths_since_issue_d:49-52',
'mths_since_issue_d:53-64',
'mths_since_issue_d:65-84',
'mths_since_issue_d:>84',
'int_rate:<9.548',
'int_rate:9.548-12.025',
'int_rate:12.025-15.74',
'int_rate:15.74-20.281',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'mths_since_earliest_cr_line:141-164',
'mths_since_earliest_cr_line:165-247',
'mths_since_earliest_cr_line:248-270',
'mths_since_earliest_cr_line:271-352',
'mths_since_earliest_cr_line:>352',
'delinq_2yrs:0',
'delinq_2yrs:1-3',
'delinq_2yrs:>=4',
'inq_last_6mths:0',
'inq_last_6mths:1-2',
'inq_last_6mths:3-6',
'inq_last_6mths:>6',
'open_acc:0',
'open_acc:1-3',
'open_acc:4-12',
'open_acc:13-17',
'open_acc:18-22',
'open_acc:23-25',
'open_acc:26-30',
'open_acc:>=31',
'pub_rec:0-2',
'pub_rec:3-4',
'pub_rec:>=5',
'total_acc:<=27',
'total_acc:28-51',
'total_acc:>=52',
'acc_now_delinq:0',
'acc_now_delinq:>=1',
'total_rev_hi_lim:<=5K',
'total_rev_hi_lim:5K-10K',
'total_rev_hi_lim:10K-20K',
'total_rev_hi_lim:20K-30K',
'total_rev_hi_lim:30K-40K',
'total_rev_hi_lim:40K-55K',
'total_rev_hi_lim:55K-95K',
'total_rev_hi_lim:>95K',
'annual_inc:<20K',
'annual_inc:20K-30K',
'annual_inc:30K-40K',
'annual_inc:40K-50K',
'annual_inc:50K-60K',
'annual_inc:60K-70K',
'annual_inc:70K-80K',
'annual_inc:80K-90K',
'annual_inc:90K-100K',
'annual_inc:100K-120K',
'annual_inc:120K-140K',
'annual_inc:>140K',
'dti:<=1.4',
'dti:1.4-3.5',
'dti:3.5-7.7',
'dti:7.7-10.5',
'dti:10.5-16.1',
'dti:16.1-20.3',
'dti:20.3-21.7',
'dti:21.7-22.4',
'dti:22.4-35',
'dti:>35',
'mths_since_last_delinq:Missing',
'mths_since_last_delinq:0-3',
'mths_since_last_delinq:4-30',
'mths_since_last_delinq:31-56',
'mths_since_last_delinq:>=57',
'mths_since_last_record:Missing',
'mths_since_last_record:0-2',
'mths_since_last_record:3-20',
'mths_since_last_record:21-31',
'mths_since_last_record:32-80',
'mths_since_last_record:81-86',
'mths_since_last_record:>86']

In [0]:
# Now Build the Probablity of Default Model

In [0]:
inputs_train_with_ref_cat = loan_data_inputs_train[allcol]

In [0]:
inputs_train_with_ref_cat.head()

        grade:A  ...  mths_since_last_record:>86
206088        0  ...                           0
136020        1  ...                           0
412305        0  ...                           0
36159         0  ...                           0
260400        1  ...                           0

[5 rows x 126 columns]

In [0]:
# Remove for Removing Dummy Variable Trap

ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'delinq_2yrs:>=4',
'inq_last_6mths:>6',
'open_acc:0',
'pub_rec:0-2',
'total_acc:<=27',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

In [0]:
# Get the Values after removing reference values to Avoid Dummy Variable Trap

inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_train.head()

        grade:A  ...  mths_since_last_record:>86
206088        0  ...                           0
136020        1  ...                           0
412305        0  ...                           0
36159         0  ...                           0
260400        1  ...                           0

[5 rows x 104 columns]

## Pandas Model Estimation

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [0]:
# Initiate Logistic Regression

reg = LogisticRegression()

In [0]:
# Show all columns

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [0]:
# Fit the Training data and Target

reg.fit(inputs_train, loan_data_targets_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
# Get the Coefficient

reg.coef_

array([[ 1.16968932,  0.90532166,  0.70639384,  0.51396185,  0.33016161,
         0.14023419,  0.0909233 ,  0.10613953,  0.03173941,  0.05471015,
         0.05590488,  0.05826063,  0.07384849,  0.13158346,  0.09647862,
         0.18016143,  0.21760194,  0.21981794,  0.2583842 ,  0.31899109,
         0.51693961,  0.08850167, -0.01087821,  0.30366864,  0.19995089,
         0.21196528,  0.26541148,  0.05320387,  0.07823475,  0.09922001,
         0.1242566 ,  0.08955056,  0.05913931,  0.12242646,  1.07204927,
         0.87295558,  0.77280669,  0.57003875,  0.40746057,  0.16124784,
        -0.07374767,  0.83525794,  0.53434173,  0.2866728 ,  0.10038775,
         0.05348847,  0.03430911,  0.07410224,  0.11584474,  0.12033375,
         0.0660638 ,  0.02928634,  0.61956777,  0.4755011 ,  0.26621352,
        -0.01093679, -0.1050867 , -0.1313769 , -0.14807828, -0.14824097,
        -0.12236556, -0.20880579,  0.12258525,  0.17787955, -0.01991189,
         0.031321  ,  0.22424908,  0.03334432,  0.0026076 ,  0.00207919,
         0.01438183,  0.03569723,  0.06124814,  0.20323075, -0.05995483,
         0.0092123 ,  0.1077076 ,  0.17704839,  0.25338273,  0.3281532 ,
         0.40154984,  0.42131292,  0.49916227,  0.59382794,  0.52038881,
         0.19764742,  0.32643488,  0.35128079,  0.29233745,  0.21862629,
         0.12167223,  0.11262071,  0.07427404,  0.03749201,  0.0879122 ,
         0.15056889,  0.16710464,  0.1198535 ,  0.33433514,  0.42528879,
         0.35792551,  0.51922648,  0.1944601 ,  0.2515263 ]])

In [0]:
# Get the Intercept

reg.intercept_

array([-1.28963151])

In [0]:
# Create Columns and their Coefficients Dataframe

feature_name = inputs_train.columns.values

# Create a Dataframe

summary_table = pd.DataFrame(columns= ["Feature Names"], data = feature_name)

# Create a Value column for Summary Table

summary_table['Coefficients'] = np.transpose(reg.coef_)

# Intercept must be put on top of the List

summary_table.index = summary_table.index + 1

summary_table.loc[0] = ["Intercept", reg.intercept_[0]]

summary_table = summary_table.sort_index()

In [0]:
summary_table.head()

  Feature Names  Coefficients
0     Intercept     -1.289632
1       grade:A      1.169689
2       grade:B      0.905322
3       grade:C      0.706394
4       grade:D      0.513962

In [0]:
# Building a Logistic Regression Models with P-Values